<!DOCTYPE html>
<html>
    <head><title>Smart Portfolio Backtracking</title>
    <style>
        body {
            font-family: Arial;
            color: #555;
            font-size: 16px;
            margin: 2em auto;
            max-width: 800px;
            padding: 1em;
            line-height: 1.4;
            text-align: justify;
        }

        h1 {
            color: #444;
            text-align: center; 
        }

        form {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
    </head>
    </head>
    <body>
        <h1>Choose your company.</h1>
        <form method="post" action="/result">
            <input type="radio" name="name" value="AEGON" checked> AEGON
            <input type="radio" name="name" value="ALLIANZ"> ALLIANZ
            <input type="radio" name="name" value="ANADOLU"> ANADOLU HAYAT
            <input type="radio" name="name" value="ASYA"> ASYA
            <input type="radio" name="name" value="AVİVASA"> AVİVASA<br>
            <input type="radio" name="name" value="AXA"> AXA
            <input type="radio" name="name" value="BNP"> BNP PARİBAS
            <input type="radio" name="name" value="CİGNA"> CİGNA
            <input type="radio" name="name" value="FİBA"> FİBA
            <input type="radio" name="name" value="GARANTİ"> GARANTİ<br>
            <input type="radio" name="name" value="GROUPAMA"> GROUPAMA
            <input type="radio" name="name" value="HALK"> HALK
            <input type="radio" name="name" value="KATILIM"> KATILIM
            <input type="radio" name="name" value="METLIFE"> METLIFE
            <input type="radio" name="name" value="NN"> NN HAYAT<br>
            <input type="radio" name="name" value="VAKIF"> VAKIF
            <input type="radio" name="name" value="ZİRAAT"> ZİRAAT<br>
            Money: <input type="number" name="money">
            Month: <input type="number" name="month">
            Year: <input type="number" name="year">

            <input type="submit" value="Submit">
        </form>
    </body>
</html>